/**
    form.css
 */


.form-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    padding-top: 5rem;
}

.form-grid fieldset {
    border: none;
}

.form-grid__label {
    grid-column: 1 / 2;
    width: auto;
    padding: 0;
    margin: 0;
}

.form-grid__field,
.form-grid__btn{
    grid-column: 2 / 4;
    width: auto;
    margin: 0;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}





