body {
    --color-white: #fff;
    --color-black: #000;

    --color-gray-30: #5a6268;
    --color-gray-20: #6c757d;
    --color-gray-90: #d3d3d3;
    --color-gray-92: #ebebeb;
    --color-gray-95: #f2f2f2;
    --color-gray-98: #fafafa;

    /* theme retro */
    --color-retro-turqoise: #7dbea5;
    --color-retro-light-yellow: #f1e0b1;
    --color-retro-dark-yellow: #ee9d31;
    --color-retro-orange: #f26c1a;
    --color-retro-brown: #5a392b;
}
