

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: var(--color-gray-20);
    border-color: var(--color-gray-20);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--color-gray-30);
    border-color: var(--color-gray-30);
}