/* override list */
body.theme-retro {
    background: var(--color-retro-light-yellow);
    color: var(--color-retro-brown);
}

.theme-retro h1 {
    color: var(--color-retro-turqoise);
}

.theme-retro .divider {
    border-color: var(--color-retro-turqoise);
}

.theme-retro .btn-primary {
    background-color: var(--color-retro-orange);
    border-color: var(--color-retro-orange);
    color: var(--color-retro-light-yellow);
}

.theme-retro .btn-primary:hover {
    background-color: var(--color-retro-brown);
    border-color: var(--color-retro-brown);
}

.theme-retro .notelist__item {
    background-color: var(--color-retro-dark-yellow);
    border-bottom-color: var(--color-retro-brown);
}

.theme-retro .item__importance {
    color: var(--color-retro-orange);
}

.theme-retro .select-wrapper,
.theme-retro select {
    background-color: var(--color-retro-orange);
    color: var(--color-retro-light-yellow);
}

.theme-retro .select-wrapper::after {
    color: var(--color-retro-light-yellow);
}

.theme-retro .select-wrapper:hover {
    background-color: var(--color-retro-brown);

}

.theme-retro .select-wrapper:hover select {
    background-color: var(--color-retro-brown);

}

.theme-retro .item__description > .btn {
    background-color: var(--color-retro-dark-yellow);;
}

.theme-retro .item__right > .btn > i {
    color: var(--color-retro-light-yellow);
}

.theme-retro .item__right > .btn > i:hover {
    color: var(--color-retro-orange);
}


/* override form */
.theme-retro .form-wrapper {
    background-color: var(--color-retro-dark-yellow);
}

.theme-retro input,
.theme-retro textarea {
    background-color: var(--color-retro-light-yellow);
    color: var(--color-retro-brown);
    border-bottom-color: var(--color-retro-light-yellow);
}

.theme-retro input[type="text"]:focus,
.theme-retro textarea:focus {
    border-color: var(--color-retro-orange);
}

.theme-retro input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--color-retro-orange);
    background-color: var(--color-retro-light-yellow);
}

.theme-retro input[type="date"] {
    background: var(--color-retro-light-yellow);
}



/* override partial checkbox*/

.theme-retro input[type=checkbox] + label::before {
    background-color: var(--color-retro-light-yellow);
    border: none;
}

.theme-retro input[type=checkbox]:checked + label::before {
    /*background-color: var(--color-retro-orange);*/
}

.theme-retro input[type=checkbox]:hover + label::before {
    /*background: var(--color-retro-orange);*/
    color: var(--color-retro-light-yellow);
    background-color: var(--color-retro-orange);
}

.theme-retro input[type=checkbox]:checked + label::after {
    background-color: var(--color-retro-orange);
    box-shadow: 2px 0 0 var(--color-retro-orange),
    4px 0 0 var(--color-retro-orange),
    4px -2px 0 var(--color-retro-orange),
    4px -4px 0 var(--color-retro-orange),
    4px -6px 0 var(--color-retro-orange),
    4px -8px 0 var(--color-retro-orange);
}

.theme-retro input[type=checkbox]:hover + label::after {
    background-color: var(--color-retro-light-yellow);
    box-shadow: 2px 0 0 var(--color-retro-light-yellow),
    4px 0 0 var(--color-retro-light-yellow),
    4px -2px 0 var(--color-retro-light-yellow),
    4px -4px 0 var(--color-retro-light-yellow),
    4px -6px 0 var(--color-retro-light-yellow),
    4px -8px 0 var(--color-retro-light-yellow);
}


/* override partial radio */

.theme-retro input.importance-wrapper__field + label::before {
    color: var(--color-retro-orange);
}

.theme-retro input.importance-wrapper__field:checked ~ label::before {
    color: var(--color-retro-light-yellow);
}

.theme-retro input.importance-wrapper__field:checked + label::before {
    color: var(--color-retro-orange);
}









